<!DOCTYPE html>
<html>

<head <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="stylesheet" href="public/css/rps.css">
    <link rel="stylesheet" type="text/css" href="public/css/animations.css">
    <link rel="stylesheet" type="text/css" href="public/css/sweetalert.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/animate.css">
</head>

<body>
    <div id="page-border">
        <div class="nav">
            <ul class="center-align">
                <li><a href="/">Home</a></li>
                <li><a href="/click">RPS Game</a></li>
                <li>
                    <h2 id="title">Ivan Baena</h2></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <main>
            {{{ body }}}
        </main>

        <footer class="page-footer transparent">
            <div class="divider"></div>
            <div class="container">
                <div class="row">
                    <div class="col l12 s12">
                        <h5 class="black-text center-align">Feel free to contact me</h5>
                        <p class="black-text text-lighten-4 center-align">Lets Get In Touch.</p>
                        <p class="black-text text-lighten-4 center-align">email@address.com</p>
                        <p class="black-text text-lighten-4 center-align">Address, City, State</p>
                        <ul class="center-align">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=9390215"><img class="social" src="public/images/social/fbook.jpg" /></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/NotThefakeIB"><img class="social" src="public/images/social/twitter.png" /></a>
                            </li>
                            <li>
                                <a href="https://github.com/ibaena"><img class="social" src="public/images/social/git.png" /></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ivan-baena-722995106?trk=nav_responsive_tab_profile"><img class="social" src="public/images/social/link.png" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey-lighten-5">
                <div class="container black-text text-lighten-3">
                    © 2016 Ivan Baena
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="public/javascripts/main.js"></script>
    <script type="text/javascript" src="public/javascripts/rps.js"></script>
    <script src="public/javascripts/sweetalert.min.js"></script>
</body>

</html>
