<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <h2 class="center-align" id="contact-title">Lets get in touch!</h2>
    </div>
  </div>
  <div class="row">
    <form class="col s8 offset-s2" method="post" action="/contact">
      <input id="icon_prefix" type="text" name="username">
      <label for="icon_prefix">First Name</label>
      <input id="icon_prefix" type="text" name="email">
      <label for="icon_prefix">Email</label>
      <textarea id="textarea1" class="materialize-textarea" name="summary"></textarea>
      <label for="textarea1">Message</label>
      <div>
        <button class="btn black waves-effect" type="submit" id="submit">Submit!</button>
      </div>
    </form>
  </div>
</div>
