<div class="container">
  <div class="row" id="scoreboard">
   <table class="bordered centered">
     <thead>
       <tr>
         <th><h5>You</h5></th>
         <th><h5>CPU</h5></th>
         <th><h5>Ties</h5></th>
         <th><h5>Rounds</h5></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><h4 id="myScore">0</h4></td>
         <td><h4 id="compScore">0</h4></td>
         <td><h4 id="tieScore">0</h4></td>
         <td><h4 id="rounds">0</h4></td>
       </tr>
     </tbody>
   </table>
  </div>
  <div class="row" id="graphic">
    <div class="col s4 left-align" id="graphic-user"></div>
    <div class="col s4 offset-s4 right-align" id="graphic-computer"></div>
  </div>
  <div class="row" id="user-selection">
    <div class="col s4 center-align">
      <a class="waves-effect waves-light btn game black" value="rock"><i class="fa fa-hand-rock-o"></i></a>
    </div>
    <div class="col s4 center-align">
      <a class="waves-effect waves-light btn game white black-text" value="paper"><i class="fa fa-hand-paper-o"></i></a>
   </div>
   <div class="col s4 l4 center-align">
      <a class="waves-effect waves-light btn game grey " value="scissors"><i class="fa fa-hand-scissors-o"></i></a>
   </div>
  </div>
</div>
