body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
ul li {
    display: inline;
    text-align: center;
}

.row #title  {
    height: 40px;
}

#logo {
    height: 60px;
    width:auto;
}

#subtitle {
    font-weight: 200;
    display: inline
}

.nav-bar {
    height: 30px;
}

#page-border {
background-color: #f1f3f2;
margin: 25px;
border-radius: 5px;
}
