body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

footer {
  color: white;
}
ul a:hover  {
  text-decoration: underline;
  color: black;
}

.parallax-container img {
  max-width:100%;
}

#title{
  font-family: 'Allura', cursive;
  font-size: 40px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline;
}

ul li {
    display: inline;
    text-align: center;
}

.social{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}


ul li a {
  font-size: 22px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
