<div class="parallax-container">
      <div class="parallax"><img src="./images/front.jpg"></div>
      <nav class="transparent">
          <div class="nav-wrapper">
            <a href="/" class="brand">Ivan Baena</a>
            <ul id="nav-mobile" class="right">
              <li><a href="/">Home</a></li>
              <li><a href="/click">Click Game</a></li>
              <li><a href="/paintnight">Paint Night</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
      </nav>
    </div>
